<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.actitime.Scripts.TestNewProj"/>
      <class name="com.actitime.Scripts.TestLicensePage"/>
      <class name="com.actitime.Scripts.AddCmr2"/>
      <class name="com.actitime.Scripts.TestAddCustomer"/>
      <class name="com.actitime.Scripts.TestAddNewTaskPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
